* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
.grid1-1-1 {
  display: grid;
  gap: 20px;
}

@media (width>=500px) {
  .grid1-1-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
